HOSTS:
  ubuntu-1804-x64:
    platform: ubuntu-18.04-amd64
    hypervisor: docker
    image: ubuntu:18.04
    docker_image_commands:
      - 'systemctl mask getty@tty1.service getty-static.service'
      - 'apt-get update'
      - 'apt-get install -y net-tools wget locales apt-transport-https iproute2 gnupg lsof'
      - 'locale-gen en_US.UTF-8'
      - 'echo LANG=en_US.UTF-8 > /etc/default/locale'
CONFIG:
  trace_limit: 200
